<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polimigo.babydaycare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyDayCare">
        <activity android:name=".view.SeekerNurslyHome"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".view.OwnerNurslyHome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity android:name=".view.SeekerNurslyRegister" />
        <activity android:name=".view.OwnerNurslyRegister" />
        <activity android:name=".view.AboutApplicationScreen" />
        <activity android:name=".view.LoginScreen" />
        <activity
            android:name=".view.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>